<div *ngIf="data.length !== 0">
  <ngx-charts-bar-vertical
    [scheme]="graphOptions.colorScheme"
    [showXAxisLabel]="graphOptions.showXAxisLabel"
    [showYAxisLabel]="graphOptions.showYAxisLabel"
    [xAxisLabel]="graphOptions.xAxisLabel"
    [yAxisLabel]="graphOptions.yAxisLabel"
    [results]="data"
    [xAxis]="graphOptions.showXAxis"
    [yAxis]="graphOptions.showYAxis"
    [gradient]="false"
  >
  </ngx-charts-bar-vertical>
</div>

<mat-progress-spinner
  *ngIf="data.length === 0"
  class="example-margin"
  [color]="loaderOptions.color"
  [mode]="loaderOptions.mode"
  [value]="50"
  style="margin-top: 5px; margin-left: 5px;"
>
</mat-progress-spinner>
