<!-- <h4>Daily New Cases</h4> -->
<mat-tab-group>
  <mat-tab label="Daily New Cases"
    ><ng-template matTabContent
      ><div>
        <ngx-charts-line-chart
          [scheme]="colorScheme"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="data"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
        >
        </ngx-charts-line-chart></div></ng-template
  ></mat-tab>
  <mat-tab label="Daily Rate of New Cases (&#8706;)"
    ><ng-template matTabContent
      ><div>
        <ngx-charts-line-chart
          [scheme]="colorScheme"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="data"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
        >
        </ngx-charts-line-chart></div></ng-template
  ></mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
