<mat-form-field>
  <mat-label>Region</mat-label>
  <mat-select [(value)]="selectedRegion">
    <mat-option
      (onSelectionChange)="change($event)"
      *ngFor="let region of regions"
      [value]="region"
    >
      {{ region }}
    </mat-option>
  </mat-select>
</mat-form-field>
<app-info [region]="selectedRegion"></app-info>
&nbsp;
<mat-tab-group>
  <mat-tab label="Total Cases">
    <ng-template matTabContent>
      <app-daily-total-cases [region]="selectedRegion"></app-daily-total-cases>
    </ng-template>
  </mat-tab>
  <mat-tab label="Active Cases">
    <ng-template matTabContent>
      <app-daily-cases-active
        [region]="selectedRegion"
      ></app-daily-cases-active>
    </ng-template>
  </mat-tab>
  <mat-tab label="Daily New Cases">
    <ng-template matTabContent>
      <app-daily-cases [region]="selectedRegion"></app-daily-cases>
    </ng-template>
  </mat-tab>
  <mat-tab label="Daily Recoveries">
    <ng-template matTabContent>
      <app-daily-recoveries [region]="selectedRegion"></app-daily-recoveries>
    </ng-template>
  </mat-tab>
  <mat-tab label="Daily Rate of New Cases (&#8706;)">
    <ng-template matTabContent>
      <app-daily-cases-rate [region]="selectedRegion"></app-daily-cases-rate>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
