<mat-tab-group>
  <mat-tab label="Active Cases">
    <ng-template matTabContent>
      <app-daily-cases-active></app-daily-cases-active>
    </ng-template>
  </mat-tab>
  <mat-tab label="Daily New Cases">
    <ng-template matTabContent>
      <app-daily-cases></app-daily-cases>
    </ng-template>
  </mat-tab>
  <mat-tab label="Daily Rate of New Cases (&#8706;)">
    <ng-template matTabContent>
      <app-daily-cases-rate></app-daily-cases-rate>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
